// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
html {
	background-color: rgb(196, 218, 221);
}

body {

	font-family: "Helvetica Neue", "Arial", sans-serif;
	width:520px;
	margin:auto;
	color:#333;
	text-align: right;
	padding-bottom: 90px;
	padding:40px;
	background-color: white;


	header {
		margin-top:70px;
	}

	a, a:hover, a:visited, a:focus {
		color:#347986;
		text-decoration:none;
	}

	#title {
		text-align:left;
	}

	input[type="submit"] {
		background-color: #359200;
		cursor: pointer;
		border: none;
		color: white;
		padding: 5px 10px;
		font-weight: 700;
		border-radius: 2px;
		font-size: 12px;	
	}

	.margintop20 {
		margin-top: 30px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #ccc;
		padding-top: 20px;
	}

	div.success {
		color:green;
		background-color: rgb(154, 252, 154);
	}

	div.error {
		color:red;
		background-color: rgb(255, 211, 211);
	}

	div.flash-message {
		font-weight: 700;
		border-radius: 5px;
		text-align: center;
	}

	div.flash-message p {
		padding:10px;
	}

	.light {
		font-size: 13px;
		font-style: italic;
		color: #616161;
	}

	.light_font_weight {
		font-weight: 300;
	}

	.uppercase {
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="url"] {
		border: none !important;
		color: #6B6B6B !important;
		background: transparent !important;
		border-bottom: 1px solid #cccccc !important;
		padding: 5px 2px 0 2px;
		box-shadow: none !important;
		width: 50%;
		margin-left: 20px;
		font-size: 18px;
	}

	input[type="text"]:hover,
	input[type="text"]:active,
	input[type="text"]:focus,
	input[type="url"]:hover,
	input[type="url"]:active,
	input[type="url"]:focus {
		border:none;
		outline:none;
	}

}*/